Source: ros-jazzy-audio-recorder
Section: misc
Priority: optional
Maintainer: Chris Iverach-Brereton <civerachb@clearpathrobotics.com>
Build-Depends: debhelper (>= 9.0.0), alsa-utils, ros-jazzy-audio-recorder-msgs, ros-jazzy-geometry-msgs, ros-jazzy-rclpy, ros-jazzy-std-msgs, ros-jazzy-tf2, ros-jazzy-tf2-ros, ros-jazzy-ros-workspace, python3-all, python3-setuptools, dh-python
Homepage: 
Standards-Version: 3.9.2

Package: ros-jazzy-audio-recorder
Architecture: any
Depends: ${python3:Depends}, ${misc:Depends}, alsa-utils, ros-jazzy-audio-recorder-msgs, ros-jazzy-geometry-msgs, ros-jazzy-rclpy, ros-jazzy-std-msgs, ros-jazzy-tf2, ros-jazzy-tf2-ros, ros-jazzy-ros-workspace
Description: Utilities for recording audio data to a file on-disk
